/end/.vscode/
/end/bin
/end/obj
/end/wwwroot
/start/obj
/start/bin
/start/wwwroot
/end/client/node_modules/
/start/server/obj
/start/server/bin
/end/server/obj
/end/server/bin
/end/server/bin/
/end/server/obj
